$primary-color: #363c50;
$link-color: #363c50;
$success-color: #5eff00;
$warning-color: #ed91a7;
$error-color: #dc2450;
$heading-1-size: 27px;
$heading-2-size: 24px;
$heading-3-size: 20px;
$heading-4-size: 18px;
$font-size-lg: 15px;
$font-size-base: 13px;
$font-size-sm: 11px;
$input-height-base: 34px;
$heading-color: #363c50;
$text-color: #363c50;
$text-color-secondary: #868a96;
$disabled-color: rgba(48, 61, 220, 0.25);
$border-radius-base: 2px;
$border-color-base: #bab9c5;
$box-shadow-base: 0 2px 8px rgba(48, 61, 220, 0.25);
